name: Release

on:
  workflow_dispatch:
  push:
    paths-ignore:
      - "**.md"
      - "**/release.yaml"
      - "static/**"
    branches:
      - main

permissions:
  contents: write
  packages: write

jobs:
  release:
    uses: lukaszraczylo/shared-actions/.github/workflows/go-release.yaml@main
    with:
      go-version: "1.24"
      docker-enabled: true
    secrets: inherit
