name: Test and release

on:
  workflow_dispatch:
  push:
    paths-ignore:
      - "**/**.md"
      - "**/**.yaml"
      - "static/**"
    branches:
      - "main"

jobs:
  shared:
    uses: telegram-bot-app/ci-scripts/.github/workflows/build-test-publish-inject.yaml@main
    with:
      enable-code-scans: false
      should-deploy: false
    secrets:
      ghcr-token: ${{ secrets.GHCR_TOKEN }}
